html,body {height: 100%;margin:0;background-image: radial-gradient(circle, #061b08, #183c1c, #204620);cursor: url(images/pointer1.png), auto;}
body {/* 3차원으로 보기 */transform-style: preserve-3d;/* 원근감 주기 400 ~ 2000 */perspective: 2000px;}
a:hover {cursor: url(images/pointer2.png), auto;}
.intro {padding: 50px 0;}
.introTitle {margin: 0;text-align: center;color: #fff; font-size: 50px;}
.gameWrap {height: 100%;}
    .player {display:none; position: relative; text-align: center;background-color: rgba(0,0,0,0.3);}
    .player.left{float: left;}
    .player.right {float: right;}
    #player1 h2 {color:#eb5118;}
    #player1.win {border-color:#eb5118;}
    #player1.lose img {-webkit-filter: grayscale(100%);filter: gray;}
    #player1.win img {-webkit-filter: grayscale(0%);filter: none;}
    #player2 h2 {color:#3e56de;}
    #player2.win {border-color:#3e56de;}
    #player2.lose img {-webkit-filter: grayscale(100%);filter: gray;}
    #player2.win img {-webkit-filter: grayscale(0%); filter: none;}
        .score {margin:30px 0; font-size: 39px; color: #ffb203;}
        .point {color:#989898;}
.chat span{ position: absolute; top: -60px; background-color: #f0be25; border-radius: 20px;padding: 5px 20px; font-weight: 600;}
.chat span:after {content: ""; position: absolute; bottom: -9px; left: 50px;border-width: 11px 10px 0;border-style: solid; border-color: #f0be25 transparent;display: block;width: 0;}
#player1 .chat span{right: 0;} 
#player2 .chat span{left: 0;} 
    .dice {opacity:0; position: relative; width:200px; height:200px;text-align: center; margin: 0 auto;}
    .dice p {}
        .diceNum {font-size: 0px; font-weight: 500;}
        .diceImg {position: absolute;top:35px;left:35px;}
    .gameArea {position: absolute; margin: auto;left: 0; right: 0;clear: both;padding: 50px 0 0; width: 1300px;height:500px; margin: 0 auto; overflow: hidden;}
        .buttonArea {height:100px;}
        .playChBtn { margin: 20px auto 30px auto;text-decoration: none; color:#fff; background-color: #f3218a; border-radius: 10px;box-shadow: 0 5px 0 #c91e73;font-weight: 600;width: 150px; display: block;text-align: center; height: 50px; line-height: 50px;font-size: 20px;}
        .playChBtn:hover {background-color: #d11e78;}
        .playChBtn:active {position: relative; top: 5px; margin-bottom: 5px; box-shadow: none;}

            .startBtn { margin: 40px auto 30px auto;text-decoration: none; color:#fff; background-color: #eb5118; border-radius: 10px;box-shadow: 0 5px 0 #af380c;font-weight: 600;width: 150px; display: block;text-align: center; height: 50px; line-height: 50px;font-size: 20px;}
            .startBtn:hover {background-color: #d94813;}
            .startBtn:active {position: relative; top: 5px; margin-bottom: 5px; box-shadow: none;}
            .startDice {display: none; margin: 20px auto 30px auto;text-decoration: none; font-weight: 600; background-color: #2b82ee; width: 150px;border-radius: 10px;box-shadow: 0 5px 0 #315e96;text-align: center; height: 50px; line-height: 50px;font-size: 20px;}
            .startDice a {display: block;color: #fff;text-decoration: none;}
            .startDice:hover {background-color: #2d7bdb;}
            .startDice:active {position: relative; top: 5px; margin-bottom: 5px; box-shadow: none;}
            .gAreaIn {display: none; position: absolute;margin: auto; top: 0;left: 0;right: 0; bottom: -105px; height: 150px;overflow: hidden; width: 960px; padding: 0;}
            .gAreaIn li {float:left;width: 140px;height: 140px;margin: 0 10px; border:3px solid #ddd; list-style-type: none;text-align: center; background-color: #1a611a;box-sizing: border-box;color:#fff;}
            .gAreaIn li p {font-weight:600;color: #ffb203;}

            .reStart {display: none;margin: 20px auto 30px auto;text-decoration: none; font-weight: 600;width: 150px; background-color: #168b16;border-radius: 10px;box-shadow: 0 5px 0 #156f15;text-align: center; height: 50px; line-height: 50px;font-size: 20px;}
            .reStart a {display: block;text-decoration: none;color: #fff;}
            .reStart:hover {background-color: green;}
            .reStart:active {position: relative; top: 5px; margin-bottom: 5px; box-shadow: none;}

            .closeBtn { margin: 40px auto 30px auto;text-decoration: none; color:#000; background-color: #fff; border-radius: 10px;box-shadow: 0 5px 0 rgb(218, 218, 218);font-weight: 600;width: 80px; display: block;text-align: center; height: 50px; line-height: 50px;font-size: 18px;}
            .closeBtn:hover {background-color: rgb(212, 212, 212);}
            .closeBtn:active {position: relative; top: 5px; margin-bottom: 5px; box-shadow: none;}

            .player1.on1 {border: 2px solid #eb5118;}
            .player2.on2 {border: 2px solid #3e56de;}

            .comment {position: absolute; margin: auto; left: 0;right: 0;top: 0px;height:50px; text-align: center;}
            .comment p {margin:0;color: #fff;font-size: 30px;font-weight: 600;}

.playerArea {opacity:0;}
.playerSelect {display:none;}
.playerSelect p {color: #fff;font-size: 20px;text-align: center;}
.playerSelect ul {overflow: hidden;padding: 30px 0;width: 1500px;margin: 0 auto;}
.playerSelect ul li {float: left;list-style-type: none;}  
.playerSelect ul li img {width:250px; transition: 0.3s all ease;}       
.playerSelect ul li:hover img {transform: translateY(-15px);}
.playerSelect ul li img.on {transform: translateY(-35px);}

/*3D dice*/
 @keyframes Rot {
	from {
		transform: rotateX(0) rotateY(0) rotateZ(0);
	}
	to {
		transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
	}
}

.dice_3d{transform-style: preserve-3d;width: 200px;height: 200px;position: relative;animation-name:Rot;/* 왓다갓다 */
    animation-direction:alternate;animation-duration:5s;animation-iteration-count:infinite;top:-130px;font-size:150px;text-align:center;line-height:200px; margin: auto;}
.dice_3d div{width: 200px;height: 200px; position: absolute; left: 0; top: 0;opacity: 1; backface-visibility: hidden;}
/*.dice_3d {transform-style: preserve-3d;perspective: 2000px;}*/
/*.dice_3d div {position: absolute;top: 72px;left: 0px;width: 200px; height: 200px;background-color: #fff;border: 1px solid #ddd; opacity: 1;}*/
.dice_3d .dice1 {transform: rotateY(0deg) translate3d(0, 0, 100px);}
.dice_3d .dice2 {transform: rotateY(90deg) translate3d(0, 0, 100px);}
.dice_3d .dice3 {transform: rotateY(180deg) translate3d(0, 0, 100px);}
.dice_3d .dice4 {transform: rotateY(270deg) translate3d(0, 0, 100px);}
.dice_3d .dice5 {transform: rotateX(90deg) translate3d(0, 0, 100px);}
.dice_3d .dice6 {transform: rotateX(270deg) translate3d(0, 0, 100px);}
    .dice3dImg {width:100%;}
    
/*popup*/
.popup {display: none; position: fixed; left:0; right:0; top:5%; bottom:0; width:500px; height: 300px; margin: auto; background-color: rgba(0,0,0,0.7); z-index: 99999;}
    .popupIn {height:278px; margin:10px; border: 1px solid rgba(225,225,225,0.5);}
    .popupIn p {margin:90px 0; text-align: center; font-size: 18px; color:#fff;}